.catalog {
  padding-top: 110px;
  padding-bottom: 120px;
  background-color: $alice-blue;

  @include vp-1023 {
    padding-top: 88px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 54px;
    padding-bottom: 65px;
  }
}

.catalog__container {
  padding: 0 118px;

  @include vp-1023 {
    padding: 0 7.8%;
  }

  @include vp-767 {
    padding: 0 7.8%;
  }
}

.catalog h2 {
  margin-bottom: 49px;
  text-align: center;

  @include vp-1023 {
    margin-bottom: 48px;
  }

  @include vp-767 {
    margin-bottom: 27px;
  }
}

.catalog ul {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px 2.6%;
  justify-items: center;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 4.5%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.catalog__item {
  position: relative;
  width: 260px;
  height: 386px;
  background-color: $color-tangaroa;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.catalog__item:hover,
.catalog__item:focus-within {
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
}

.catalog__item-inner-wrapper {
  display: grid;
  position: absolute;
  top: 29px;
  right: 25px;
  left: 25px;
  bottom: 15px;
  overflow-y: scroll;

  @include vp-1023 {
    right: 35px;
    left: 35px;
    bottom: 21px;
  }

  @include vp-767 {
    right: 25px;
    left: 25px;
    bottom: 18px;
  }
}

.catalog__item:hover .catalog__item-inner-wrapper,
.catalog__item:focus-within .catalog__item-inner-wrapper {
  display: block;
}

.catalog__item-content {
  z-index: -5;
  grid-row: 1 / 2;
  padding-top: 12px;
  overflow-y: scroll;

  @include vp-1023 {
    padding-top: 14px;
  }
}

.catalog__item:hover .catalog__item-content,
.catalog__item:focus-within .catalog__item-content {
  z-index: 1;
}

.catalog__item h3 {
  position: relative;
  top: -7px;
  z-index: 1;
  grid-row: 2 / 3;
  padding-left: 5px;
  align-self: end;
  color: $alice-blue;

  @include vp-1023 {
    padding-left: 0;
  }

  @include vp-767 {
    top: 0;
  }
}

.catalog__item:hover h3,
.catalog__item:focus-within h3 {
  top: 0;
  padding-left: 0;
}

.catalog__item dl {
  margin: 0;
  margin-bottom: 25px;
}

.catalog__item dt {
  color: $alice-blue;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.catalog__item dd {
  margin: 0;
  color: $quartz;
}

.catalog__item dd:not(:last-child) {
  margin-bottom: 10px;
}

.catalog__item a {
  display: block;
  padding: 10px 14px 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  text-align: center;
  background-color: $alice-blue;
  pointer-events: none;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog__item:hover a,
.catalog__item:focus-within a {
  animation: delay-pointer-events 0.1s linear forwards;
}

@keyframes delay-pointer-events {
  0% {
    pointer-events: none;
  }

  50% {
    pointer-events: none;
  }

  100% {
    pointer-events: all;
  }
}

.catalog__item-img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
  }
}

.catalog__item:hover .catalog__item-img,
.catalog__item:focus-within .catalog__item-img {
  display: none;
}

.catalog__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
