.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo svg {
  fill: inherit;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}
