.page-head {
  position: relative;
  z-index: 5;
  min-height: 500px;
  flex-shrink: 0;
  background-color: #39659d;
}

.page-head__inner {
  position: relative;
  z-index: 1;
}

.page-head__decors {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.page-head__decors img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @include vp-1023 {
    filter: none;
  }
}
