.social-list {
  align-self: start;
  justify-self: end;
  display: flex;
  max-width: 150px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-content: center;
  gap: 21px;

  @include vp-1023 {
    gap: 18px;
  }

  @include vp-767 {
    justify-self: start;
  }
}

.social-list li {
  padding-top: 19px;
  list-style-type: none;

  @include vp-1023 {
    padding-top: 12px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.social-list a {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
  }
}

.social-list svg {
  @include vp-1023 {
    height: 16px;
    width: auto;
  }
}
