.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;

  @include vp-1365 {
    max-width: 768px;
    padding: 0 45px;
  }

  @include vp-767 {
    max-width: 320px;
    padding: 0 15px;
  }
}
